:root {
  --main-bg-color: #082756;
  --second-bg-color: #EF4343;
  --main-text-color: #ffffff;
  --second-text-color:#000000;
  --third-text-color:#00B2FF;
  --main-btn-color: #ffffff;
  --second-btn-color:#082756;
}

@mixin easeOut {
  
  transition: 1s ease-out;
}
@mixin easeIn {
  
  transition: 1s ease-out;
}